<div class="container">
  <div class="row">
    <h2 style="color: orangered; text-align: center" class="col col-12">Book List</h2>
  </div>
  <div class="row mb-3">
    <div class="col col-8 position-relative">
      <p class="position-absolute" style="top: 18px">There are <span style="color: blue">({{booksQuantity}})</span> books</p>
    </div>
    <div class="col col-4 d-flex justify-content-end">
      <button class="btn btn-success" routerLink="/create">Add new book</button>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col" style="width: 60px" class="text-center">Edit</th>
      <th scope="col" style="width: 60px" class="text-center">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of bookList; let i = index">
      <td class="align-middle text-center">{{i+1}}</td>
      <td><a routerLink="#" (click)="detail(book)">{{book.title}}</a></td>
      <td class="align-middle">{{book.author}}</td>
      <td><a class="btn btn-info" (click)="edit(book)">Edit</a></td>
      <td><a class="btn btn-danger" (click)="delete(book)">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
