<div class="container">
  <h2 style="color: orangered; text-align: center" class="col col-12">Add new book</h2>
  <h3 class="text-success d-flex justify-content-center">{{message}}</h3>
  <form [formGroup]="bookForm" (ngSubmit)="create()">
    <table class="table table-light table-striped table-bordered table-hover">
      <tr>
        <th scope="row" class="w-25">Title:</th>
        <td class="form-group">
          <label class="w-100">
            <input class="form-control" type="text" formControlName="title" placeholder="Title"/>
          </label>
          <div *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)" class="alert alert-danger">
            <div *ngIf="bookTitle.errors.required">
              Title is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Author:</th>
        <td>
          <label class="w-100">
            <input class="form-control" type="text" formControlName="author" placeholder="Author"/>
          </label>
          <div *ngIf="bookAuthor.invalid && (bookAuthor.dirty || bookAuthor.touched)" class="alert alert-danger">
            <div *ngIf="bookAuthor.errors.required">
              Author is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Description:</th>
        <td>
          <label class="w-100">
            <textarea rows="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
          </label>
          <div *ngIf="bookDescription.invalid && (bookDescription.dirty || bookDescription.touched)" class="alert alert-danger">
            <div *ngIf="bookDescription.errors.required">
              Description is required.
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="row">
      <div class="col col-3"></div>
      <div class="col col-3">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="bookForm.invalid">Add book</button>
      </div>
      <div class="col col-3">
        <button class="btn btn-block btn-success" routerLink="/">Back to list</button>
      </div>
    </div>
  </form>
</div>

