<h2 style="color: orangered; text-align: center" class="col col-12">Add new book</h2>
  <h3 class="text-success d-flex justify-content-center">{{message}}</h3>
  <form >
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="book.title" name="title">
    </div>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="book.author" name="author">
    </div>

    <div class="form-group">
      <label for="name">Descripton</label>
      <input type="text" class="form-control" id="descripton" required [(ngModel)]="book.descripton" name="descripton">
    </div>

<div class="row">
  <div class="col col-3"></div>
  <div class="col col-3">
    <button class="btn btn-block btn-danger" (click)="create()">Submit</button>
  </div>
  <div class="col col-3">
    <button class="btn btn-block btn-success" routerLink="/">Back</button>
  </div>
</div>
  
  </form>
